<f:layout name="Default" />

<f:section name="iconButtons">
    <f:render partial="Adminbuttons" />
</f:section>

<f:section name="content">
    <h2><f:translate key="mod_convertref_title" /></h2>

    <h3><f:translate key="label_what_does_it_do" /></h3>
    <p><f:translate key="mod_convertref_description" /></p>

    <f:form action="convertReferenceElements" name="formdata" object="{formdata}">
		<f:form.checkbox id="useparentuidfortranslations" name="useparentuidfortranslations" property="useparentuidfortranslations" value="1" checked="false"/>
		<label for="useparentuidfortranslations"><f:translate key="label_use_parent_uid_for_translations"/></label>
		<br>
		<f:form.checkbox id="usealllangifdefaultlangisreferenced" name="usealllangifdefaultlangisreferenced" property="usealllangifdefaultlangisreferenced" value="1" checked="false"/>
		<label for="usealllangifdefaultlangisreferenced"><f:translate key="label_use_all_language_if_default_language_is_referenced"/></label>
		<br>
        <f:form.submit value="{f:translate(key: 'label_start')}" class="start"/>
    </f:form>

</f:section>

