<f:layout name="Default" />

<f:section name="iconButtons">
    <f:render partial="Adminbuttons" />
</f:section>

<f:section name="content">
    <h2><f:translate key="mod_convertmultilangcontent_title" /></h2>

    <h3><f:translate key="label_what_does_it_do" /></h3>
    <p><f:translate key="mod_convertmultilangcontent_description1" /></p>
    <p><f:translate key="mod_convertmultilangcontent_description2" /></p>
    <p><f:translate key="mod_convertmultilangcontent_description3" /></p>

    <br>
    <h4><f:translate key="label_warning" /></h4>
    <p class="warning"><f:translate key="mod_convertmultilangcontent_warning" /></p>

    <f:form action="convertMultilangContent" name="formdata" object="{formdata}">
		<f:form.select options="{merge: '{f:translate(key: \'label_convert_flexform_merge\')}', exclude: '{f:translate(key: \'label_convert_flexform_exclude\')}', forceLanguage: '{f:translate(key: \'label_convert_flexform_force_language\')}'}" name="convertflexformoption" property="convertflexformoption" />
		<br><br>
		<f:form.select options="{convert: '{f:translate(key: \'label_references_all_lang_conversion\')}', convertAndTranslate: '{f:translate(key: \'label_references_all_lang_update_translated_element\')}', keep: '{f:translate(key: \'label_references_all_lang_keep\')}'}" name="convertinsertrecords" property="convertinsertrecords" />
		<br><br>
		<f:form.submit value="{f:translate(key: 'label_start')}" class="start"/>
    </f:form>
</f:section>