<f:link.action action="indexDeleteUnreferencedElements" class="btn_delete_unref action"><f:translate key="label_delete_unref" /></f:link.action>
<f:link.action action="indexMigrateFce" class="btn_migrate_fce action"><f:translate key="label_migrate_fce" /></f:link.action>
<f:link.action action="indexMigrateContent" class="btn_migrate_content action"><f:translate key="label_migrate_content" /></f:link.action>
<f:link.action action="indexConvertMultilangContent" class="btn_convertmultilang_content action"><f:translate key="label_convertmultilang_content" /></f:link.action>
