<f:link.action action="indexDeleteUnreferencedElements" class="btn_delete_unref action"><f:translate key="label_delete_unref" /></f:link.action>
<f:link.action action="indexConvertReferenceElements" class="btn_convert_ref action"><f:translate key="label_convert_ref" /></f:link.action>
<f:link.action action="indexMigrateFce" class="btn_migrate_fce action"><f:translate key="label_migrate_fce" /></f:link.action>
<f:link.action action="indexMigrateContent" class="btn_migrate_content action"><f:translate key="label_migrate_content" /></f:link.action>
<f:link.action action="indexConvertMultilangContent" class="btn_convertmultilang_content action"><f:translate key="label_convertmultilang_content" /></f:link.action>
<f:link.action action="indexFixSorting" class="btn_fix_sorting action"><f:translate key="label_fix_sorting" /></f:link.action>
