<f:layout name="Default" />

<f:section name="iconButtons">
    <f:render partial="Adminbuttons" />
</f:section>

<f:section name="content">
    <h2><f:translate key="mod_deleteunref_title" /></h2>

    <h3><f:translate key="label_what_does_it_do" /></h3>
    <p><f:translate key="mod_deleteunref_description" /></p>

    <h4><f:translate key="label_warning" /></h4>
    <p><f:translate key="desc_backup_warning" /></p>

    <f:form action="deleteUnreferencedElements">
        <f:form.submit value="{f:translate(key: 'label_start')}"></f:form.submit>
    </f:form>

</f:section>

